<mat-toolbar color="primary" class="mat-elevation-z6 header">
  <mat-toolbar-row>
    <div class="container header__container">
      <div class="row">
        <div class="col col-md-3 center-content header__logo">
          <span>Material Shop</span>
        </div>
        <div class="col col-md-9 d-flex align-items-center justify-content-end">
          <i class="material-icons header__icon" (click)="toggleSearch()">search</i>
          <mat-form-field class="header__search-input" [ngClass]="{'header__search-input--open': activeSearch}" [color]="'accent'">
            <input matInput type="search" >
          </mat-form-field>
          <span class="pl-4">Lang</span>
          <i class="material-icons header__icon pl-4">shopping_cart</i>
          <div class="header__profile d-flex align-items-center pl-4 py-2" [matMenuTriggerFor]="menu">
            <div class="header__profile-img"></div>
            <i class="material-icons">&#xE5C5;</i>
          </div>
          <mat-menu #menu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>