<div class="container home">
  <div class="row">
    <div class="col col-md12">
      <carousel class="home__carousel">
        <slide class="home__slide">
          <img src="../../assets/images/banner1.jpg" alt="Photo by Joanna Malinowska" style="display: block; width: 100%;">
        </slide>
        <slide class="home__slide">
          <img src="../../assets/images/banner2.jpg" alt="Photo by Brooke Cagle" style="display: block; width: 100%;">
        </slide>
        <slide class="home__slide">
          <img src="../../assets/images/banner3.jpg" alt="Photo by Pete Bellis">
        </slide>
      </carousel>
    </div>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>